body{
    background-color: #d2f3f6;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

h2{
    color: #b311a0;
}

section{
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

p{
    font-size: 16px;
}

ul{
    margin-left: 20px;
}

li{
    margin: 5px 0;
}

input{
    width: 250px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: red;
}

hr{
    margin-top: 15px;
}

footer{
    text-align: center;
    margin-top: 20px;
    color: rgb(69, 66, 66);
}